<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ehb.taskaid" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".UI.MainTester"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.TaskListActivity"
            android:label="@string/title_activity_task_list" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.SelectorActivity"
            android:label="@string/title_activity_selector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.AddTaskActivity"
            android:label="@string/title_activity_add_task" >
        </activity>
        <activity
            android:name=".UI.BeaconSelectorActivity"
            android:label="@string/title_activity_beacon_selector" >
        </activity>
        <activity
            android:name=".UI.AddCardActivity"
            android:label="@string/title_activity_add_card" >
        </activity>

        <service
            android:name=".service.BeaconScanner"
            android:exported="false" >
        </service>
        <service
            android:name=".service.Scanner"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
